.text-group {
    position: absolute;
    width: 71px;
    height: 54px;
    left: 16px;
    top: 80px;
}

.text-group-first {
    /* H1 */

    position: absolute;
    height: 36px;
    left: 0%;
    right: 0%;
    top: calc(50% - 36px/2 - 9px);

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 36px;
    /* identical to box height, or 164% */

    color: #777777;
}

.text-group-second {
    /* Kaizen Coffee Co. */

    position: absolute;
    height: 24px;
    left: 0%;
    right: 49.3%;
    top: calc(50% - 24px/2 + 15px);

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    color: #777777;
}
